[submodule "source/naboj/chem"]
	path = source/naboj/chem
	url = git@github.com:TrojstenSK/naboj-chemistry
	branch = master
[submodule "source/naboj/phys"]
	path = source/naboj/phys
	url = git@github.com:TrojstenSK/naboj-physics
	branch = master
[submodule "source/seminar/FKS"]
	path = source/seminar/FKS
	url = git@github.com:TrojstenSK/FKS
	branch = master
[submodule "source/seminar/testing"]
	path = source/seminar/testing
	url = git@github.com:TrojstenSK/dgs-seminar-testing.git
	branch = main
[submodule "source/scholar/TA1"]
	path = source/scholar/TA1
	url = git@github.com:sesquideus/TA1
[submodule "source/scholar/TA2"]
	path = source/scholar/TA2
	url = git@github.com:sesquideus/TA2
[submodule "source/seminar/FX"]
	path = source/seminar/FX
	url = git@github.com:TrojstenSK/FX-problems
[submodule "source/naboj/test"]
	path = source/naboj/test
	url = git@github.com:TrojstenSK/dgs-naboj-testing
[submodule "source/scholar/STA"]
	path = source/scholar/STA
	url = git@github.com:sesquideus/teaching-STA
