[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[requires]
python_version = "3.12"

[dev-packages]
pytest = "*"
"flake8" = "*"
ipython = "*"

[packages]
pyyaml = "*"
colorama = ">=0.4.6"
ply = ">=3.11"
"Jinja2" = ">=2.10.1"
PyYAML = ">=5.4"
python-frontmatter = "*"
pandoc-crossref = ">=0.1.1"
pandoc-fignos = "*"
pandoc-eqnos = "*"
pandoc-tablenos = "*"
pandoc-secnos = "*"
dotmap = "*"
argparsedirs = "*"
schema = "*"
pandoc-minted = "*"
pygments = "*"
enschema = "*"
pandoc-include = "*"
