[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[requires]
python_version = "3.8"

[dev-packages]

[packages]
colorama = ">=0.4.3"
ply = ">=3.11"
pandoc-crossref = ">=0.1.1"
"Jinja2" = ">=2.10.1"
PyYAML = ">=5.3"
"flake8" = "*"
